<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="StatusBar Force Close"
        android:supportsRtl="true"
        tools:ignore="DataExtractionRules,MissingApplicationIcon">
        <provider
            android:name=".RootBridgeProvider"
            android:authorities="com.wayne.statusbarforceclose.root"
            android:exported="true"
            android:grantUriPermissions="false"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>
